// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #216869;
$yellow: #FFBA49;
$orange: #F55D3E ;
$green: #1EDD88;
$dark-gray: #666666;
$gray: #DCDCDC;
$light-gray: #F4F4F4;
