.banner {
  background-image: linear-gradient(rgba(245, 62, 0, 0.8), rgba(255, 186, 73, 0.5) ),
                  url("banner.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 24px;
}

.banner-element {
  padding: 8px;
  flex-basis: 806px;
  flex-shrink: 1;
  flex-grow: 0;
  background-color: rgba(33, 104, 105, 0.08);
  border-radius: 10px;
}

.banner h1, h2,p,form {
  padding: 0px 0px 0px 16px;
}



.level-date-inline {
  display: flex;
  justify-content: space-between;
}

.level-date-inline *{
  flex-grow: 1;
}
.space {
  width : 16px;
  height: 16px;
  flex-grow: 0;
}

form-control:disabled, .form-control[readonly] {
  background-color: white;
}

input::-webkit-input-placeholder {
color: $body-font !important;
}

.connexion-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.connexion-button button {
 margin : 5px;
}

.en-tete {
  display: flex;
  justify-content: space-between;
  margin : 0px 16px;
}
