.button-primary {
  text-decoration: none;
  background-color: $blue;
  border-radius : 30px;
  padding: 4px 24px;
  color: $gray;
  border : none;
  border : 2px solid $blue;
  &:hover {
    background-color: $gray;
    color: $blue;
    border : 2px solid $gray;
  }
  &:active {
    text-decoration: none;
  }
}

