.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  justify-items: center;
  align-items: center;
  a {
    border-radius: 10px;
    text-decoration: none;
    &:hover {
      text-decoration:none;
    }
  }
}

@media only screen and (max-width: 960px) {

  .grid {
    grid-template-columns: 1fr 1fr ;
    justify-items: center;
    align-items: center;
  }
}

@media only screen and (max-width: 600px) {

  .grid {
    grid-template-columns: 1fr ;
    justify-items: center;
    align-items: center;
  }
}



